/* 
    Created on : 28/06/2022, 01:13:06
    Author     : stenio
*/


/*remover formatação padrão do navegador*/
*{
    margin: 0px;
    padding: 0px;
}


/*estrutura **************************************************************/
body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: #ededf2;
}

#cabecalho{
    background: #f3d915;
    padding: 15px;
    text-align: center;
}

#menu{
    padding: 5px;
}

#conteudo{
    width: 920px;
    /* pode ser usado de 1 a 4 valores, definindo  topo, laterais e fundo, usando auto ficara cetralizado*/
    margin: 0 auto;
}

#postagens,#menu-lateral{
    background: #ededf2;
}

#postagens{
    width: 660px;
    float: left;
}



#rodape{
    /* usado para limpar o fluxo dos elementos flutuantes */
    clear: both;
    padding: 15px;
    background: activecaption;
    text-align: center;
}
/*fim estrutura *******************************************************/

/*formatar links da pagina*********************************************/

a{
    padding: 5px 12px;
    text-decoration: none;
}
/*link padrao não visto e visto*/
a:link, a:visited{
    color:#f3d915;
}
/*link evento mouse*/
a:hover{
    text-decoration: underline;
}

/*fim formatar links pagina*********************************************/

/*combinando id com seletores podemos formatar links de areas especificas*/
#menu a:link, #menu a:visited{
    color:#fff;
}
/*link evento mouse*/
#menu a:hover{
    background: white;
    color: #a89907;
    text-decoration: none;
}

/*link sendo clicado*/
a:active{
    
}

h1{
    font-size: 2.5em;
    color: #4e4e4e;
}

h2{
    margin: 0px;
    color: #f3d915;
}
h3{
    padding: 5px;
    background:#cfd5e1;   
}

.branco{
    color: white;
    background: #cfd5e1;
}

.postagem {
    padding: 10px;
    margin-bottom: 20px;
    background: white;
    
}

.data-postagem{
    font-size: 0.8em;
    display: block;
    padding-bottom:5px;
}

/*formatar menu do menu lateral************************************/

#menu-lateral{
    width: 240px;
    float: right;
}

.menu-lateral{
    padding: 10px auto;
    background: white;
    font-size: 0.8em;
    /*margin para separar as divs */
    margin-bottom: 20px;
}

/*formatar list*/
li {
    list-style-type: none;
    padding-left: 20px;
    
}

/*formatar link em um list*/
ul a {
    padding: 0px;
    margin: 0px;
    display: block;
    width: 200px;
    height: 40px;
    text-indent: 40px;
    line-height: 40px;
    /*aqui foi usado um cor junto com a img por precaução caso a img não carregue (boa pratica)*/
    background: #f4b036 url("../imagens/menu.png") no-repeat left center;
}

/*acao de mouse em um list*/
ul li a:hover{
    /*mover o backgroud que contem uma img maior para criar efeito de troca de imagem*/
    background-position: right;
    /* dar o efeito caso a img não carregue*/
    background-color: #f17144;
    text-decoration: none;
    color: white;
}

 /*link padrao não visto e visto*/
ul a:link, a:visited{
    color:#000;
}

/*marcar pagina selecionada no menu lateral */

#novidades-menu-lateral .novidades a, 
#populares-menu-lateral .populares a,
#ultimas-postagens-menu-lateral .ultimas-postagens a,
#recomendados-menu-lateral .recomendados a{
        /*mover o backgroud que contem uma img maior para criar efeito de troca de imagem*/
    background-position: right;
    /* dar o efeito caso a img não carregue*/
    background-color: #f17144;
    text-decoration: none;
    color: white;
}

/*fim menu lateral**************************************************/